@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  background: rgb(78,72,171);
  background: linear-gradient(90deg, rgba(78,72,171,1) 0%, rgba(124,124,180,1) 36%, rgba(45,181,209,1) 80%);
  font-family: 'Gantari', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

input[type="text"], button {
  font: inherit;
}

main {
  margin: auto;
  max-width: 800px;
}

h1 {
  margin-bottom: 0.5rem;
}

article {
  background-color: #fff;
  padding: 2rem;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid hsl(0, 0%, 58%);
  border-radius: 1rem;
  box-shadow: 10px 10px 5px rgba(63, 60, 60, 0.2);
}

.todo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

input[type="checkbox"] {
  min-width: 30px;
  min-height: 30px;
  margin-right: 1rem;
}

button {
  min-width: 50px;
  min-height: 50px;
  border: 1px solid #333;
  border-radius: 10%;
  cursor: pointer;
}

.trash {
  background-color: #fff;
  color: mediumvioletred;
}

.trash:focus, .trash:hover {
  filter:brightness(120%)
}

form {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #333;
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 1rem;
}

form label {
  position: absolute;
  left: -10000px;
}

.new-todo {
  background-color: #fff;
  width: 100%;
  padding-right: 30px;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  border: 0.5px solid #333;
}

.submit {
  background-color: gray;
  color: #fff;
}

.submit:focus, .submit:hover {
  background-color: limegreen;
}

.top-label {
  color: #fff;
}